.require {
    color: red;
    position: relative;
    top: -5px;
    right: 0px;
}

.card {
    border: 1px solid #303f9f;
    border-radius: 10px;
    padding: 30px;
}

.context {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 115px;
}

.flightNo {
    display: flex;
    flex-direction: row;
    gap: 25px;
    .input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .require {
            font-size: 12px;
        }
        .error-border {
            ::ng-deep .mdc-notched-outline > * {
                border: 1px solid red !important;
                border-radius: 5px;
            }
        }
    }
    ::ng-deep .mdc-notched-outline > * {
        border: 1px solid #0097a7 !important;
        border-radius: 5px;
    }
    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
    ::ng-deep .mdc-notched-outline__leading {
        display: none;
    }
    ::ng-deep .mat-mdc-text-field-wrapper {
        padding: 3px;
    }      
}


.browse {
    display: flex;
    flex-direction: row;
    gap: 25px;
    .input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .require {
            font-size: 12px;
        }
    }
}

.browsebtn {
    display: flex;
    background: #0097a7;
    flex-direction: row;
    color: white;
    height: 30px;
    border-radius: 5px;
}

.file-name {
    display: flex;
    color: #0097a7;
    flex-direction: row;
    font-size: 14px;
    align-items: center;
}

.save {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
}

.savebtn {
    display: flex;
    background: #0097a7;
    color: white;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
}

.cancelbtn {
    display: flex;
    background: #eeeeee;
    color: black;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
}

::ng-deep .mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
    background: #ffa726 !important;
    color: white !important;
}
  